body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  
}
::selection {
  background-color: aquamarine;
}
::-webkit-scrollbar {
  display: none;
  
}
.first {
  background: linear-gradient(90deg, rgb(65, 65, 236) 5%,black,rgb(65, 65, 236));
}
#bg-image {
  background-image: url("./assets/images/background.jpg");
  background-color: white;
  mix-blend-mode: luminosity;
  
}
#clipper {
  clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 0 100%);
}
/* Custom styles to position Sonner toasts at the top-center */
